---
layout: page
---

<a href="{{ site.baseurl | append: '/' | append: page.csv_file }}" download>Download events as a CSV</a>
{% assign mydata = site.data.events %}

<h3>{{ page.caption }}</h3>

<table>
    <thead>
    {% for column in mydata[0] %}
        <th>{{ column[0] }}</th>
    {% endfor %}
    </thead>
    <tbody>
    {% for row in mydata %}
        <tr>
        {% for cell in row %}
            <td>{{ cell[1] }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
